@import 'variables';

.yellow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 16px 11px 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $carbon;
  border-radius: 10px;
  border-color: $yellow;
  background-color: $yellow;

  &:hover {
    color: #000;
    border-color: $yellowDarker;
    background-color: $yellowDarker;
  }
}