@import 'variables';

html,
body {
  font-family: 'Open Sans';
}

a {
  color: $carbon;
  text-decoration: none;

  &:hover {
    color: $carbon;
  }
}

#app-wrapper {
  display: flex;
  min-height: 100vh;

  .btn {
    > span {
      position: absolute;
    }
  }
}