@import 'variables';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;

  fieldset {
    padding: 20px;
    background-color: $cool-gray;
    border-radius: 10px;

    &.covidTestQuestion {
      margin-bottom: 0 !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.covidTestAnswer {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 1px $platinum solid;
    }

    .selectValidation {
      background: transparent;
      color: transparent;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  @media (min-width: 1200px) {
    width: 500px;
  }
}